<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.485684830929-dtduf443f6i02iog5cp9d9ji9grtm3m0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ReturnURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ReturnURL</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>RefreshURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>RefreshURL</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SuccessURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SuccessURL</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>CancelURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CancelURL</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
